[Unit]
Description=Minkipi App
After=minkipi-splash.service
Wants=network-online.target

[Service]
User=root
RuntimeDirectory=minkipi
WorkingDirectory=/run/minkipi
ExecStart=/usr/local/bin/minkipi run
Restart=on-failure
RestartSec=60
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=40%
MemoryMax=300M

[Install]
WantedBy=multi-user.target
