[Unit]
Description=Minkipi Splash Screen
DefaultDependencies=no
After=sysinit.target
Before=minkipi.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'echo 0 > /sys/class/graphics/fbcon/cursor_blink 2>/dev/null || true'
ExecStartPre=/bin/sh -c 'printf "\033[?25l" > /dev/tty1 2>/dev/null || true'
ExecStartPre=/bin/sh -c 'cat /usr/local/minkipi/splash.fb > /dev/fb0 2>/dev/null || true'
ExecStart=/usr/local/minkipi/venv_minkipi/bin/python /usr/local/minkipi/show_splash.py
StandardOutput=null
StandardError=null

[Install]
WantedBy=sysinit.target
